<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="nopCommerce">

<listeners>
 <listener class-name="com.nopCommerce.utilities.Reporting"/>
</listeners>
	<test name="Test1">
		<classes>
			<class name="com.nopCommerce.testCase.TC_LoginTest_001" />
		</classes>
	</test>
</suite>